//@import "../../../node_modules/@dn/dongni-ui/packages/theme-chalk/vars.styl"
$c-primary-normal = #559d41;
$c-primary-hover = #447D34; // hover
$c-primary-image = rgba($c-primary-normal, 0.1) // 填充
$c-primary-light = rgba($c-primary-normal, 0.4) // 图形化场景
$c-primary-weak = rgba($c-primary-normal, 0.6)
//@import "../../../node_modules/@dn/dongni-ui/packages/theme-chalk/index.styl"
